<html>
    <head>
        <title>Chat Example</title>
        <link href="http://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet" />

        <script src="https://ajax.googleapis.com/ajax/libs/prototype/1.7.2.0/prototype.js"></script>
        <script src="http://code.jquery.com/jquery-1.11.1.min.js"></script>
        <script src="http://getbootstrap.com/dist/js/bootstrap.min.js"></script>
        <script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.10.4/jquery-ui.min.js"></script>
        <script src="http://underscorejs.org/underscore-min.js"></script>
        <script src="http://momentjs.com/downloads/moment-with-langs.js"></script>
        <script src="jquery.base64.min.js"></script>
        <script src="stomp.js"></script>
        <script src="websocket.js"></script>
        <script type="text/template" class="chat-template">
            <div id="chat_<%- data.chatId %>" style="display: inline-block; border: solid 1px #CCC; width: 200px;">
                <div style="border-bottom: solid 1px #CCC; padding: 10px;"><%- data.user %></div>
                <div name="messages" style="height: 300px; overflow-y: scroll; overflow-x: hidden;"></div>
                <input style="width: 100%;" name="text" placeholder="Type your message..." />
            </div>
        </script>
        <script type="text/template" class="my-message-template">
            <div id="<%- data.messageId %>" style="padding: 10px; border-bottom: solid 1px #EEE; background: #EEFFCC;">
                <p><b><%- data.author %></b>: <%- data.text %></p>
                <p style="font-size: 10px; color: #999;"><%-data.date %></p>
            </div>
        </script>
        <script type="text/template" class="other-message-template">
            <div id="<%- data.messageId %>" style="padding: 10px; border-bottom: solid 1px #EEE; background: #EEFFAA;">
                <p><b><%- data.author %></b>: <%- data.text %></p>
                <p style="font-size: 10px; color: #999;"><%-data.date %></p>
            </div>
        </script>
        <script type="text/template" class="user-template">
                <li id="user_<%- data.userId %>" class="list-group-item">
                    <%- data.userId %>
                    <span class="pull-right label"></span>
                </li>
        </script>
        <script type="text/javascript">
            var $j = jQuery.noConflict();
            _.templateSettings.variable = "data";

            function drawTemplate(templateId, data) {
                return _.template($j( "script."+ templateId ).html()).apply({}, [data]);
            }

            var xlive = false;

            $j(window).ready(function () {
                $j('#connect').click(function () {
                    if (!xlive) {
                        xlive = new XLive({
                            debug: true,
                            connection: {
                                user: $j('#username').val(),
                                url: "ws://lyncode.com:61623/"
                            },
                            friends: [],

                            onConnectionLost: function () {
                                alert("Error! Connection lost!");
                            },

                            onOpenChat: function (chatId, otherUserId) {
                                $j('#chats').append(drawTemplate('chat-template', {
                                    chatId: chatId,
                                    user: otherUserId
                                }));
                                $j('#chat_'+chatId).hide();

                                $j('#chat_'+chatId).find('input').data('chatId', chatId);
                                // To store information locally
                                $j('#chat_'+chatId).find('input').keypress(function (key){
                                    if (key.which == 13) {
                                        key.preventDefault();
                                        xlive.send($j(this).data('chatId'), $j(this).val())
                                            .done(function () { 
                                                console.log('Message: '+this.id); 
                                            })
                                            .fail(function () {
                                                console.log('Message '+this.id+' not delivered - code: '+this.code);
                                            });
                                        $j(this).val("");
                                    }
                                });
                            },

                            onChatLoaded: function (chatId) {
                                $j('#chat_'+chatId).show();
                                var $messages = $j('#chat_'+chatId).find('div[name="messages"]');
                                $messages.scrollTop($messages[0].scrollHeight);
                            },

                            onReceiveChatMessage: function (chatId, messageId, authorId, message, timestamp) {
                                var $messages = $j('#chat_'+chatId).find('div[name="messages"]');

                                var template = 'my-message-template';
                                if (authorId !== xlive.currentUser())
                                    template = 'other-message-template';

                                var showDate = new Date(timestamp);
                                if (moment(showDate).isSame(new Date(), 'day'))
                                    showDate = moment(showDate).format('hh:mm');
                                else 
                                    showDate = moment(showDate).format('yyyy-MM-dd');

                                $messages.append(drawTemplate(template, {
                                    messageId: messageId,
                                    author: authorId,
                                    text: message,
                                    date: showDate
                                }));

                                $messages.scrollTop($messages[0].scrollHeight);
                            },

                            onUserStatusUpdate: function (userId, active) {
                                if ($j("#user_"+userId).length == 0)
                                    $j('#userList').append(drawTemplate('user-template', {
                                        userId: userId
                                    }));

                                if (active) {
                                    $j("#user_"+userId).find('span.label')
                                        .removeClass('label-danger')
                                        .addClass('label-success')
                                        .html('Online');
                                } else {
                                    $j("#user_"+userId).find('span.label')
                                        .removeClass('label-success')
                                        .addClass('label-danger')
                                        .html('Offline');
                                }
                            }

                        });
                    }

                    if ($j('#connect').html() != 'Disconnect')
                        xlive.connect()
                            .fail(function (){ alert("Falhou a ligação caralho!"); })
                            .done(function (){ 
                                $j('#username').hide(); 
                                $j('#connect').html('Disconnect');
                                $j('#welcome span').html(xlive.currentUser());
                                $j('#welcome').show();
                                $j('#disconnected').hide();
                                $j('#connected').show();
                            });

                    else {
                        xlive.disconnect();
                        $j('#connect').html('Connect Again');
                        $j('#chats').empty();
                        $j('#welcome').hide();
                        $j('#disconnected').show();
                        $j('#connected').hide();
                    }
                });


                $j('#create').click(function () {
                    xlive.newChat('simpleChat', $j("#dest").val())
                        .fail(function (chatId) { // Chat já existente
                            $j('#chat_'+chatId).show(); 
                        });
                    
                });
            });
        </script>
    </head>
    <body>

        <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
          <div class="container">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand" href="#">XLive</a>
            </div>
            <div class="navbar-collapse collapse">
              <div id="login" class="navbar-form navbar-right" role="form">
                <div class="form-group">
                  <input id="username" type="text" placeholder="Username" class="form-control">
                </div>
                <button id="connect" type="submit" class="btn btn-success">Connect</button>
              </div>
              <ul id="welcome" style="display: none;" class="nav navbar-nav navbar-right">
                <li><a>Welcome <span></span>!</a></li>
              </ul>
            </div><!--/.navbar-collapse -->
          </div>
        </div>

        
        <div style="height: 100px;"></div>
        <div id="disconnected" class="jumbotron">
              <div class="container">
                <h1>Hi, my name is XLive!</h1>
                <p>My existence only conforms to provide you an underlying system to transfer live information. Now it's up to you to decide what you want to do with me.</p>

                <p>If you want to take a look to a simple chat, please, connect using one of the following usernames:</p>
                <ul>
                    <li>joao</li>
                    <li>hugo</li>
                    <li>afonso</li>
                    <li>nelka</li>
                    <li>maya</li>
                </ul>
              </div>
        </div>

        <div  class="container">
          <!-- Example row of columns -->
          <div id="connected" class="row"  style="display: none;">
            <div class="col-lg-3">
                <h1>Users</h1>
                <ul id="userList" class="list-group">
                  
                </ul>
                <div class="input-group">
                  <input type="text" class="form-control" id="dest" placeholder="Chat with..." />
                  <span class="input-group-btn">
                    <button id="create" class="btn btn-default" type="button">Open</button>
                  </span>
                </div>
            </div>
            <div class="col-lg-9">
                <h1>Conversations</h1>
                <div id="chats">
                    
                </div>
            </div>
          </div>

          <hr>

          <footer>
            <p>&copy; Sticket 2014</p>
          </footer>
        </div> <!-- /container -->
    </body>
</html>